{% extends "base.html" %}
{% block body %}
<h1>Vote na pergunta: {{pergunta.question_text}}</h1>
<p>
    <img src="{{pergunta.imagem.url}}">
</p>
<div>
    <form action="" method="post">
        {% csrf_token %}
        {% for resposta in respostas %}
        <div class="form-check">
            <input class="form-check-input" type="radio" name="voto" value="{{ resposta.id }}">
            <label class="form-check-label">
                {{ resposta.choice_text }}
            </label>
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>

{% endblock %}